*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #a6a6a6 , #ffffff);
}

section{
    height: 800px;
}

header{
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    position: sticky;  
    background-image: linear-gradient(to right, #a6a6a6 , #ffffff); 
    top: 0;
}

h1{
    display: flex;
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
    margin-left: 15%;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-right: 150px;  
    font-family: "Archivo Black", sans-serif;
}

nav ul a{
    text-decoration: none;
    color: black;
   
}

nav a:hover{
    color: orange;
    border-bottom: orange 4px solid;
    transition: all 0.5s ease;
    
}

.sec-1{
    display: flex;
    justify-content: space-around;
    padding: 40px; 
} 

.mypic{
    margin-top: 60px;
    border-radius: 50%;
}

.mypic img{
    border: 8px solid black;
    height: 500px;
    width: 500px;
}

.me{
    font-size: 50px;
    margin-top: 10px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wd{
    font-size: 35px;
    margin-top: 30px;
    font-family: arial;
}

.hm{
    background-color: black;
    border-radius: 30px;
    color: white;
    border: 8px solid goldenrod;
    width: 120px;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.container-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* About section */
.container-2{
    display: flex;
    flex-direction: column;
}

.container-2 h2{
    font-size: 30px;
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 50px;
    scroll-margin: 120px;
    margin-left: 150px;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    font-family: "Archivo Black", sans-serif;
}

.para{
    font-size: 36px;
    text-align: center;
    margin-top: 90px;
    padding: 10px 300px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 10px;
    line-height:150%;
}

/* Skills section */
.skills-section {
    border-radius: 10px;
    scroll-margin: 200px;
}

.skills-title {
    font-size: 60px;
    color: red;
    text-align: center;
    text-shadow: 8px 20px 3px gray;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 5px;
    scroll-margin: 120px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
    margin-left: 200px;
}

.skill {
    width: 45%;
    margin-bottom: 40px;
}

.skill-name {
    font-size:25px;
    margin-bottom: 5px;
}

.progress-bar {
    width: 400px;
    height: 20px;
    background-color:green;
    border-radius: 10px;
}

.progress {
    height: 20px;
    background-color: yellow;
    border-radius: 10px;    
}

.percent{
    margin-left: 60%;
    font-size: 25px;
}

.html {
    width: 95%;
}

.css {
    width: 85%;
}

.javascript {
    width: 50%;
}

.sql {
    width: 50%;
}

.selenium {
    width: 70%;
}

.logic {
    width: 25%;
}

.python {
    width: 60%;
}

.google-sheets {
    width: 80%;
}

/* English Skills section */
.english-skills-section {
    border-radius: 10px;
    scroll-margin: 200px;
    padding: 40px;
    text-align: center;
    /* background-color: #f9f9f9; */
}

.english-skills-title {
    font-size: 50px;
    color: black;
    text-shadow: 8px 20px 3px gray;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 5px;
    margin-bottom: 150px;
    scroll-margin: 120px;
}

.english-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.english-skill {
    width: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.english-skill-name {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 100;
}

.stars {
    font-size: 50px;
    color: rgb(182, 156, 9);
}

/* Contact section */
.contact-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 90px;
    border-radius: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item .icon {
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

h4{
    font-size: 40px;
    padding-left: 150px;
    margin-top: 100px;
}

.contact-item a{
    font-size: 40px;
    text-decoration: none;
    color: black;
}
#contact{
    scroll-margin: 120px;
    margin-top: 120px;
}